.header{
    margin-bottom: 30px !important;
    background-color: #ffffff !important;
    padding: 0 22px 0px 0px !important;
    border-radius: 6px !important;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, .07) !important;
}

.header .header_link{
    font-weight: 500;
    color: darkslategray !important;
}
.header_navlink{
    padding: 0px;
}
.header .header_link:hover{
    color: var(--main-color) !important;
}

.header .header_link_active {
    font-weight: 500;
    color: var(--main-color) !important;
}


.header .header_home{
    background-color: var(--main-color);
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem !important;
    padding-left: .5rem !important;
}
.header .header_right{
    display: flex !important;
    align-items: center !important;
}
.header .header_left{
    margin-right: auto;
}
.header .header_right a {
    display: none;
}

/* .header .header_right > a > .MuiSvgIcon-root{

    margin-right: 12px;
    font-size: 16px !important;
    color: #000;
    transition: all .4s;
} */
/* .header .header_right>a>.MuiSvgIcon-root {
    font-size: 16px !important;
    margin-right: auto;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
} */

/* .header .header_right a:hover {
    transform: scale(1.16) translate(-2px, -4px);
    transition: all .4s;
    -webkit-transform: scale(1.16) translate(-2px, -4px);
    -moz-transform: scale(1.16) translate(-2px, -4px);
    -ms-transform: scale(1.16) translate(-2px, -4px);
    -o-transform: scale(1.16) translate(-2px, -4px);
}

.header .header_right a:nth-child(1) {
    color: #3b5998;
}

.header .header_right a:nth-child(2) {
    color: #00acee;
    box-shadow: 10px 10px 74px 0px rgba(0, 0, 0, 0.75);
}

.header .header_right a:nth-child(3) {
    color: #0e76a8;
    box-shadow: 10px 10px 74px 0px rgba(0, 0, 0, 0.75);
}

.header .header_right a:nth-child(4) {
    color: #211F1F;
    box-shadow: 10px 10px 74px 0px rgba(0, 0, 0, 0.75);
} */

@media (min-width: 891px) {
    .header .header_right{
        justify-content: space-around;
        align-items: center;
    }
    .header .header_right a{
        justify-content: space-around;
        margin-bottom: 6px;
        font-size: 20px;
    }
    .header .header_right .last {
        padding-bottom: 5px !important;
    }
    
}

/* @media (min-width: 891px) {
    .header .header_left{
        justify-content: space-around;
        align-items: center;
    }
} */

@media (max-width: 891px) {
    .header .header_left{
        justify-content: space-around;
        align-items: center;
    }
}
@media (max-width: 891px) {
    .header .header_right {
        justify-content: space-around;
        margin-bottom: 6px;
    }
    .header .header_right a{
        justify-content: space-around;
        align-items: center;
    }
    .header .header_right .last {
        padding-bottom: 5px !important;
    }
}